<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>z
  <arg name="map_file" default="$(find xbotrealversionone_navigation)/map_provider/maps/test2.yaml"/>
  <!-- xbotreal -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find xbotrealversionone_navigation)/launch/amcl.launch">
    <param name="odom_frame_id" value="odometry/filtered"/>
    <remap from="odom" to ="odometry/filtered"/>
    
  
  </include>

  <!-- move_base -->
  <include file="$(find xbotrealversionone_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <param name="odom_frame_id" value="odometry/filtered"/>
    <remap from="odom" to ="odometry/filtered"/>
    <remap from="scan" to="ira_scan"/>
    
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find xbotrealversionone_description)/urdf.rviz"/>
  </group>
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find xbotrealversionone_navigation)/configuration_files/ekf.yaml"/>
    <!--remap from="odometry/filtered" to="odom"/-->
  </node>
</launch>

