<launch>
				<!--  ************** Odometry ***************  -->
	<arg name="gui" default="True" />
	<!--param name="use_gui" value="$(arg gui)"/-->
	<param name="robot_description" command="cat $(find xbotrealversionone_description)/urdf/xbotreal.urdf" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/motor_controller"/>
	</node>
	<node pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" name="mpu6050_serial_to_imu_node" required="true">
		<param name="port" value="/dev/imu_sensor"/>
		<param name="time_offset_in_seconds" value = "0.0"/>
		<param name="broadcast_tf" value="false"/>
		<param name="frame_id" value="imu_link"/>
		<param name="tf_frame_id" value="imu_link"/>
		<param name="tf_parent_frame_id" value="base_link"/>
		
	</node>	

	<node name="xbotreal_controller" pkg="xbotrealversionone_navigation" type="xbotreal_controller">
		<param name="publish_tf" value="false" />
    		<param name="publish_rate" value="10.0" />
    		<param name="linear_scale_positive" value="1.2"/> #defult 1.025
    		<param name="linear_scale_negative" value="1.2"/>
    		<param name="angular_scale_positive" value="1.25" />
    		<param name="angular_scale_negative" value="1.25" />
		<param name="angular_scale_accel" value="0.0" />
	</node>	

<!--include file="$(find rplidar_ros)/launch/rplidar.launch"/-->

<include file="$(find rplidar_ros)/launch/two_lidar.launch"/>
<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>
<!--include file="$(find rplidar_ros)/launch/rplidar2.launch"/-->

	
</launch>
